*{
    box-sizing: border-box;
  
}


.caja1 {
    display: inline-block;
    width: 49%;
    text-align:center;
    
   
}

.caja2 {
    display: inline-block;
    width: 49%;
    
    text-align:center;

}

h2{
    color: red;
    font-size: 2rem;
}

h3{
    text-align: center;
    color: red;
    font-size: 2rem;
}

.caja3 {
    margin: 30px auto;
    width:fit-content ;
    border: solid rgb(43, 163, 219);
    border-radius: 10px ;
    padding: 10px;

    
    
    
    
}

input{
    width: 250px;
}





